[data-global] {
  display: flex;
  flex-direction: column;
  color: red
}


[data-presentation] {
  color: green;
  flex: 2;
}

[data-leader] {
  flex-direction: column;
  display: inline;
}

[data-bottom] {
  flex-direction: row;
  display: block
}

[data-up] {
  flex-direction: row;
}





[data-site] {
  flex: 2;
}

[data-responsable] {
  flex-shrink: 2;
}
