[data-global] {
  display: flex;
  flex-direction: row;
  color: red
}


[data-presentation] {
  color: green;
  flex: 2;
}
div[data-wrap] {
  display: flex;
}
[data-wrap="leader"] {
  flex-direction: row;
  display: inline;
}







[data-site] {
  flex: 2;
}

[data-responsable] {
  flex-shrink: 2;
}
