[data-global] {
  display: flex;
  flex-direction: column;
  color: red
}


[data-presentation] {
  color: green;
  flex: 1;
}

[data-leader] {
  flex-direction: column;
  display: flex;
}

[data-bottom] {
  flex-direction: row;
  display: flex;
  p {
    margin: 10px;
  }
}

[data-up] {
  flex-direction: row;
  display: flex;
  justify-content: center;
  p {
    margin: auto
  }
}





[data-site] {
  flex: 1;
}

[data-responsable] {
  flex-shrink: 2;
}
